/* ======== Base Style ======== */

/* color palette  */
/* brown - 3A3335 ---
rose - D81E5B
orange - F0544F ---
cream - FDF0D5 ---
blue - C6D8D3 */

body {
  margin: 0 auto;
  height: 100vh;
  max-width: 1200px;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf0d5;
}

h1 {
  padding-top: 25px;
  text-align: center;
  color: #f0544f;
}

.lb-data .lb-caption {
  font-size: 15px;
}

/* ======== Gallery Style ======== */

.gallery {
  margin-top: 30px;
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  transition: transform 0.5s ease; /* animation */
}

.gallery img:hover {
  transform: scale(1.1);
}

img {
  margin: 0 35px 35px 35px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

img.lb-image {
  margin: 0;
  padding: 0;
}

.lb-data .lb-caption {
  text-align: center;
  display: block;
  line-height: 1.3em;
}

.lb-data .lb-caption a {
  text-align: center;
  display: block;
}

/* ======== Search Input Style ======== */

.input {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.search {
  border-radius: 4px;
  width: 45%;
  border: 1.5px solid #c6d8d3;
  font-size: 1.2em;
  padding-left: 7px;
  height: 30px;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

.search:focus {
  outline: 0;
  border: 1.5px solid #3a3335;
  transition: border 0.5s ease-out;
}
